th
{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	
}

td
{
	font-family: 'Roboto', sans-serif;
	
}

.table {

	margin-left: auto;
	margin-right: auto;
	
}


p{
		font-family: 'Roboto', sans-serif;
}

h {
		font-family: 'Roboto', sans-serif;
}

h2
{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	size: 10px;
}


footer{
	
	background-color: #379EC1;
	background-image: url(../logo/logo.png)
	background-repeat: repeat;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	height: 100px;
	margin-top: -150px;
	background: rgb(55,158,193);
	background: linear-gradient(90deg, rgba(55,158,193,0.21345707656612534) 0%, rgba(55,158,193,0.9303944315545244) 52%, rgba(55,158,193,0.22969837587006958) 100%);
}

a:visited
{
	color: black ;
}

a:link
{	color: #659224;	
		
}

	